// Theme colors
$primary: #a50000;
$inverse: #fff;
$link : #212529;
$twitter:#00acee;
$facebook :#3b5998;
$gmail : #B23121;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
